* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.parent-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.container {
    width: auto%;
    border: 1px solid blue;
    background-color: #fff;
    /* margin: 10px; */
    padding: 20px 20px 30px;
    border-radius: 5px;
    box-shadow: 5px 8px 15px #333;
}

.label {
    margin: 10px;
}